body{
  font-family: 'Montserrat', sans-serif;
  background: #eee;
}

.App {
  text-align: center;
  height: 100vh; 
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #C44569;
}

.App-link {
  color: #09d3ac;
}

nav {
  position: fixed;
  background: #C44569;
  width: 100%;
  color: #fff;
  box-shadow: -1px -2px 20px black;
  z-index: 1;
}

span.small-text {
  display: block;
  /* color: #596275; */
  font-size: 1rem;
}

button.btn-primary {
  background: #778BEB;
  border-radius: 25px;
  border: none;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 35px;
  transition: all 0.6s ease;
  font-weight: bold;
  box-shadow: 6px 7px 20px -2px #000;
}

button.btn-primary:hover {
  background: #C44569;
}

button:focus {
  outline: none;
}

.logo{
    max-width: 300px;
    padding: 5px;
    margin-left: 20px;
}

.GoatItem {
  height: 70vh;
  width: 30%;
  margin: 10vw auto;
  border-radius:40px;
  box-shadow: 3px 4px 20px -2px #000;
  display: flex;
  flex-direction: column;
  contain: paint;
}

img.GoatImg {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  flex: 4;
}

.GoatContent {
  background: #C44569;
  margin: 0px;
  width: 100%;
  flex: 2;
  color: white;
  font-size: 1.7em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.GoatStory {
  font-size: 0.7em;
  padding: 0px 35px;
 }

@media (orientation: portrait){
  .GoatItem{
    width: 90%;
  }
  .App-header{
    min-height: 70vh;
  }
  button.btn-primary {
    margin: 0px;
  }
  .GoatStory {
    font-size: 0.6em;
    padding: 0px 25px;
   }
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -2222px;
	width: 50px;
	height: 26px;
	background: #464646;
	display: block;
	border-radius: 25px;
  position: fixed;
  z-index: 10;
  right: 10%;
  top: 3%;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 22px;
	height: 22px;
	background: #fff;
	border-radius: 22px;
	transition: 0.3s;
}

input:checked + label {
	background: grey;
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}

@media (max-width: 500px){
  label{
    right: 5%;
    top: 3.5%;
  }
}

@media (max-width: 350px){
  label{
    display: none;
  }
}
